@using kuaforBerberOtomasyon.Models.DTO
@model List<EmployeeRespond>

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<a class="btn btn-primary float-end mb-2 mt-2" asp-area="" asp-controller="Admin" asp-action="AddEmployee">Çalışan Ekle</a>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Ad Soyad</th>
            <th scope="col">Verdiği Hizmet</th>
            <th scope="col">Çalışma Saati Atama</th>
            <th scope="col">Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.EmployeeId</td>
                <td>@item.EmployeeName</td>

                <td>
                    @if (item.ServiceNames != null && item.ServiceNames.Count > 0)
                    {
                        @foreach (var service in item.ServiceNames)
                        {
                            <span>@service</span>
                            <br />
                        }
                    }
                    else
                    {
                        <span>Hizmet Yok</span>
                    }
                </td>

                <td>
                    <a class="btn btn-secondary" asp-area="" asp-controller="Admin" asp-action="CreateEmployeeWorking" asp-route-id="@item.EmployeeId">
                        Çalışma Saati Atama
                    </a>
                </td>
                <td>
                    <a class="btn btn-warning" asp-area="" asp-controller="Admin" asp-action="UpdateEmployee" asp-route-id="@item.EmployeeId">
                        Güncelle
                    </a>
                </td>
                <td>
                    <a class="btn btn-danger" asp-area="" asp-controller="Admin" asp-action="DeleteEmployee" asp-route-id="@item.EmployeeId">
                        Sil
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
